 @import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #FAF2D4;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  font-size: x-large;
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  margin-left: max;
}
.toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}

.showcase.active {
  right: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}
.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 4em;
  font-weight: 800;
  color: gold;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3 {
  font-family: "Tiro Devanagari Hindi", serif;
  font-size: 3em;
  font-weight: 900;
  color:#ffffff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a {
  display: inline-block;
  font-size: 1em;
  background: #ffffff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover {
  letter-spacing: 3px;
  background-color: #fa3838;
}
.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  position: relative;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover {
  color: #03a9f4;
}

@media (max-width: auto) {
  .showcase,
  .showcase header {
    padding: 10px;
  }
  .text h2 {
    font-size: 2em;
  }
  .text h3 {
    font-size: 1em;
  }
}
.showcase .image-container {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .showcase {
    flex-direction: column-reverse;
  }

  .text h2 {
    font-size: 2em;
  }
  .text h3 {
    font-size: 1em;
  }
  .showcase,
  .showcase header {
    padding: 10px;
  }

  .showcase .image-container {
    margin-top: 70px;
    margin-bottom: 40px;
  }

  .showcase .text,
  .showcase img {
    order: unset;
  }
}

/* CSS code */
.step-btn.active {
  border-color: #0d00ff;
  color: #0d00ff;
  text-decoration: underline;
  background-color: #0000001e;
}

.step-btn.active:hover {
  border-color:  #4f46e5;
  color: #4f46e5;
  text-decoration: none;
}

.heading{
  font-size: 4em;
  font-weight: 400;
  color: #000000;
  text-align: center;


}
.heading-2{
  font-size: 1.5em;
  font-weight: 700;
  color: #000000;
  line-height: 1em;
  text-align: left;
  margin-bottom: 10px;
}














:root {
  --color-accent-light: #00DBDE;
  --color-accent-dark: #ffffff;
  --color-accent-vdark: rgb(52, 52, 52);
  --color-secondary: #ccc;

  --text-color-default: #2c2c2c;
  --text-color-light: #fff;

  --font-size-default: 15px;
  --font-size-lg: 25px;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-default: var(--font-weight-regular);

  --border-color-default: var(--color-secondary);
  --border-color-accent: var(--color-accent-dark);

  --bg-color-default: #fff;
  --bg-color-dark: #2c2c2c;
  --bg-color-accent--lignt: var(--color-accent-light);
  --bg-color-accent--dark: var(--color-accent-dark);

  --transition-duration: .2s;
  --transition-timing-function: linear;
  --transition-delay: 0s;

  --negative-multiplier: -1;

  --gradient-default: linear-gradient(122deg, var(--color-accent-light) 0%, var(--color-accent-vdark) 100%);

}


body a {
  color: inherit;
  text-decoration: none;
}
.container{
  margin: auto;
}

.header__btn {
  transition:
          all
          var(--transition-duration)
          var(--transition-timing-function)
          var(--transition-delay);
  padding: 10px 20px;
  margin-right: 10px;
  background-color: var(--bg-color-default);
  border: 1px solid var(--border-color-default);
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.header__btn:hover,
.header__btn.js-active {
  color: var(--text-color-light);
  background-color: var(--bg-color-dark);
}

.header__title {
  margin-bottom: 10px;
  font-weight: var(--font-weight-semibold);
}

.content {
  margin: auto;
}

.content__title {
  margin-bottom: 80px;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-default);
  text-align: center;
}

/* TIMELINE STYLES: YOU NEED THEM!!! */
.timeline {
  --wrapper-width: 900px;

  width: 95%;
  max-width: var(--wrapper-width);
  margin: auto;
}

.timeline__stepper {
  --step-border-width: 3px;
  --offset-to-slider-content: 30px;

  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: var(--offset-to-slider-content);
}

@media(min-width: 530px) {
  .timeline__stepper {
      display: flex;
      justify-content: space-around;
      gap: 0;
  }
}

@media(min-width: 700px) {
  .timeline__stepper {
      --offset-to-slider-content: 50px;
  }
}

.timeline__step {
  position: relative;
  width: 100%;
  cursor: pointer;
}

@media(min-width: 530px) {
  .timeline__step {
      width: 100%;;
  }
}

.timeline__icon {
  --timeline-icon-dimensions: 45px;
  position: relative;
  display: block;
  width: var(--timeline-icon-dimensions);
  max-height: var(--timeline-icon-dimensions);
  height: auto;
  margin: 0 auto;
  transition: opacity var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
}

@media(min-width: 700px) {
  .timeline__icon {
      --timeline-icon-dimensions: 60px;

      margin-bottom: 30px;
  }
}

.timeline__icon--active {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  fill: url(#icon-gradient);
  opacity: 0;
}

.timeline__step-title {
  --timeline-dot-dimensions: 11px;
  --extra-offset-fox-pixelperfect: -1px;

  position: relative;
  display: none;
  padding-top: 30px;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.7;
  border-top: var(--step-border-width) solid var(--border-color-default);
}

@media(min-width: 700px) {
  .timeline__step-title {
      display: block;
  }
}

.timeline__step-title:before,
.timeline__step-title:after {
  position: absolute;
  top: var(--dot-top-position);
  left: 50%;
  display: block;
  width: var(--timeline-dot-dimensions);
  height: var(--timeline-dot-dimensions);
  content: '';
  border-radius: 50%;
}

.timeline__step-title:before {
  --dot-top-position: calc(
          var(--timeline-dot-dimensions)/2 * var(--negative-multiplier) + var(--extra-offset-fox-pixelperfect)
  );

  transform: translate(-50%);
  border: 2px solid var(--border-color-default);
  border-radius: 50%;
  background-color: #fff;
  z-index: 5;
}

.timeline__step-title:after {
  --timeline-dot-dimensions: 25px;
  --dot-top-position: calc(
          var(--timeline-dot-dimensions)/2 * var(--negative-multiplier) + var(--extra-offset-fox-pixelperfect)
  );

  transform: translate(-50%) scale(0);
  border-radius: 50%;
  background-color: #fff;
}

/* this elements generates in JS */
.timeline__step-active-marker {
  --slide-pos-y: none; /* calcs on the fly in js */
  --slide-pos-x: none; /* calcs on the fly in js */
  --slide-width: auto; /* calcs on the fly in js */

  --transition-timing-function: cubic-bezier(0, 0, 0, 1.2);

  position: absolute;
  top: var(--slide-pos-y);
  left: 0;
  display: none;
  width: var(--slide-width);
  height: var(--step-border-width);
  transform: translateX(var(--slide-pos-x));
  transition: transform var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
  background-image: var(--gradient-default);
}

@media(min-width: 700px) {
  .timeline__step-active-marker {
      display: block;
  }
}

.timeline__step.is-active {
  cursor: default;
}

.timeline__step.is-active .timeline__step-title {
  font-weight: var(--font-weight-semibold);
}

.timeline__step.is-active .timeline__step-title:before {
  transition: background-color var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
  background-color: var(--color-accent-dark);
  border-color: var(--border-color-accent);
}

.timeline__step.is-active .timeline__step-title:after {
  transform: translate(-50%) scale(1);
  transition: transform var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
  background-image: var(--gradient-default);
  opacity: .35;
}

.timeline__step.is-active .timeline__icon--default,
.timeline__step:not(.is-active):hover .timeline__icon--default {
  opacity: 0;
}

.timeline__step.is-active .timeline__icon--active,
.timeline__step:not(.is-active):hover .timeline__icon--active {
  opacity: 1;
}

.timeline__slides {


  position: relative;
  width: 900px;
  max-width: 100%;
  margin: auto;
  height: var(--slides-container-height);
  border-radius: 15px;
  background-color: var(--bg-color-default);
}

@media(min-width: 700px) {
  .timeline__slides {
      --content-offset-x: 30px;
      --content-offset-y: 40px;
  }
}

.timeline__slides:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 15px;

}

.timeline__slide {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--content-offset-y) var(--content-offset-x);
  opacity: 0;
  visibility: hidden;
}

.timeline__slide.is-active {
  opacity: 1;
  visibility: visible;
}

.timeline__slide-title {
  margin-top: 0;
  font-size: larger;
  font-weight: 600;
}

.timeline__slide-content {
  line-height: 1.7;
}

.timeline__slide-content p:first-child {
  margin-top: 0;
}

.timeline__slide-content p:last-child {
  margin-bottom: 0;
}





















